/* CELULARES MENORES */
@media (min-width: 576px){
  .login{
    width: 60%;
  }

  .formulario p{
  font-size: 1rem;
  }
}

/* TABLET */
@media (min-width: 768px){
  body{
    background: #4B2E2E;
    background: linear-gradient(319deg,rgba(75, 46, 46, 1) 0%, rgba(70, 67, 54, 1) 46%, rgba(67, 80, 59, 1) 65%, rgba(60, 110, 71, 1) 100%);
  }

  .login{
    width: 90%;
  }

  .imagem{
    float: left;
    width: 30%;
    height: 100%;
    background-position: center;
  }

  .formulario{
    float: right;
    width: 70%;
    height: 100%; 
  }

  .formulario p{
  font-size: 1rem;
  }
}

/* DESKTOP */
@media (min-width: 992px){
  body{
    background: #4B2E2E;
    background: linear-gradient(319deg,rgba(75, 46, 46, 1) 0%, rgba(70, 67, 54, 1) 46%, rgba(67, 80, 59, 1) 65%, rgba(60, 110, 71, 1) 100%);
  }

  .login{
    max-width: 900px;
  }

  .imagem{
    float: left;
    width: 50%;
    height: 100%;
    background-position: center;
  }

  .formulario{
    float: right;
    width: 50%;
    height: 100%; 
  }
}